chartkick==0.5.0
Flask-HTTPAuth
Flask
Flask-Login
Flask-SQLAlchemy
gunicorn==22.0.0
itsdangerous==0.24
Jinja2
MarkupSafe==1.0
werkzeug>=3.0.1
PyMySQL
pygal==2.4.0
psycopg2==2.7.3
SQLAlchemy
requests
wheel==0.38.0
