{%- include 'header.html' %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Page Not Found</h3>
        <p>
        Requested page was not found.
        </p>
      </div>
      <div class="six wide right floated column">
        <img title="Custom 404 image" alt="Custom 404 image" src="/static/img/404.jpg">
      </div>
    </div>
  </div>
</div>

{%- include 'footer.html' %}
