{%- include 'header.html' %}
{%- include 'tables.html' %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="six wide column">
        {% if bddate >= min_date %}
        <a class="ui button" href="/reports/backup_duration/{{ bddate - 86400 }}">Previous Day</a>
        {% endif %}
      </div>
      <div class="six wide column right aligned">
        {% if bddate <= max_date %}
        <a class="ui button" href="/reports/backup_duration/{{ bddate + 86400 }}">Next Day</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="column">
        <table class="ui sort fixed left aligned celled table" id="djob">
          <thead>
            <tr>
              <th>Pool name</th>
              <th class="sort-header" width=150px>Start time</th>
              <th class="sort-header" width=150px>Stop time</th>
              <th class="sort-header" width=150px>Duration time</th>
            </tr>
          </thead>
          <tbody>
  {% for pool, time_data in bd_result.items() %}
            <tr>
              <td class="left aligned">{{ pool }}</td>
              <td class="right aligned">{{ time_data['start'] }}</td>
              <td class="right aligned">{{ time_data['end'] }}</td>
              <td class="right aligned">{{ time_data['end'] - time_data['start'] }}</td>
            </tr>
  {% endfor %}
          </tbody>
        </table>
        <script>
var tbl = document.getElementById('djob')
new Tablesort(tbl, 'sort-up');
        </script>
      </div>
    </div>
  </div>
</div>

{%- include 'footer.html' %}
