{%- include 'header.html' %}
{%- include 'tables.html' %}

<script src="/static/dist/components/form.js"></script>

<div class="ui vertical stripe segment">
  <form class="ui form segment">
    <div class="one fields">
      <div class="field">
        <label>Maximum file size (specified in KiB)</label>
        <div class="ui selection dropdown" tabindex="0">
          <input name="_max_size" type="hidden">
          <i class="dropdown icon">
          </i>
          <div class="menu transition hidden" tabindex="-1">
            <div class="item active" data-value="10">10 MiB</div>
            <div class="item" data-value="100">100 MiB</div>
            <div class="item" data-value="1024">1 GiB</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui blue submit button">
      Use this files size
    </div>
  </form>
  {% for job_name, job_data in bf_report.items() %}
    {% if job_data != [] %}
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="column">
        <h2><a href="/reports/client/{{ job_name }}/{{ sched_time[job_name] }}">{{ job_name }}</a> has big files in last backup</h2>
        <table class="ui fixed left aligned celled table sort" id="bigfiles-{{ job_name }}-{{ sched_time[job_name] }}">
          <thead>
            <tr>
              <th>Filename</th>
              <th width=150px>Owner (uid:gid)</th>
              <th width=150px>Size in MBytes</th>
              <th width=150px>Last modified time</th>
            </tr>
          </thead>
          <tbody>
      {% for job in job_data %}
            <tr>
              <td class="left aligned">{{ job['fname'] }}</td>
              <td class="left aligned">{{ job['uid'] }}:{{ job['gid'] }}</td>
              <td class="right aligned">{{ job['size'] }}</td>
              <td class="left aligned">{{ job['mtime'] }}</td>
            </tr>
      {% endfor %}
          </tbody>
        </table>
        <script>
new Tablesort(document.getElementById('bigfiles-{{ job_name }}-{{ sched_time[job_name] }}'));
        </script>
      </div>
    </div>
  </div>
    {% endif %}
  {% endfor %}
</div>

{%- include 'footer.html' %}
