<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4>
          About
        </h4>
        <div class="ui inverted link list">
          <a href="/about" class="item">
            About
          </a>
        </div>
      </div>
      <div class="five wide column">
        <h4>
          System status
        </h4>
        <div class="ui inverted link list">
          <a href="/health" class="item">
            Healthcheck
          </a>
        </div>
        <div class="ui inverted link list">
          <a href="/env" class="item">
            Environment data
          </a>
        </div>
      </div>
      <div class="three wide column">
        <h4>
          pyWBacula
        </h4>
        <div class="ui inverted link list">
          <p class="item">
            version {{ __version__ }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
