<div class="ui inverted teal vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4><i class="info circle icon"></i> About</h4>
        <div class="ui inverted link list">
          <a href="/about" class="item">About pyWBacula</a>
        </div>
      </div>
      <div class="five wide column">
        <h4><i class="heartbeat icon"></i> System status</h4>
        <div class="ui inverted link list">
          <a href="/health" class="item">Healthcheck</a>
          <a href="/env" class="item">Environment data</a>
        </div>
      </div>
      <div class="three wide column">
        <h4><i class="database icon"></i> pyWBacula</h4>
        <div class="ui inverted link list">
          <p class="item">version {{ __version__ }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
