{%- include 'header.html' %}
<div class="ui vertical footer segment">
<div class="ui two column stackable grid">
  <div class="column">
    <h3 class="ui center aligned header">
      Backup sizes and files count for the last two months
    </h3>
{% line_chart b_size with library={ "xAxis":{"title":{"text":"Date period"}}, "yAxis":{"title":{"text":"Backup size in Bytes"}}, "title": {"text": "Bacula backup sizes"} } %}
{% line_chart b_count with library={ "xAxis":{"title":{"text":"Date period"}}, "yAxis":{"title":{"text":"Files count in backup"}}, "title": {"text": "Bacula backup files count"}} %}
  </div>
  <div class="column">
    <h3 class="ui center aligned header">
      Backup for last 24 hours
    </h3>
    <table class="ui fixed sortable striped left aligned table">
      <thead>
        <tr>
          <th>Client name</br> (Job name)</th>
          <th width=16%>Backup date</th>
          <th width=14%>Files count</th>
          <th width=14%>Backup</br> size</th>
          <th width=16%>Status</th>
        </tr>
      </thead>
      <tbody>
    {% for backup in last_backup %}
        <tr>
          <td class="left aligned">{{ backup['name'] }} (<a href="/reports/client/{{ backup['bak_name'] }}/{{ backup['date'] }}">{{ backup['bak_name'] }}</a>)</td>
          <td>{{ backup['date'] }}</td>
          <td>{{ backup['files'] }}</td>
          <td>{{ backup['size'] }}</td>
          <td>
            {% autoescape false %}
            {{ backup['status'] }}
            {% endautoescape %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{%- include 'footer.html' %}
