{%- include 'header.html' %}
{%- include 'tables.html' %}
<script src="http://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<div class="ui vertical footer segment">
<div class="ui two column stackable grid">
  <div class="column">
    <h3 class="ui center aligned header">
      Backup sizes and files count for the last two months
    </h3>
    <div id='size_chart' class='chart'”></div>
    <script type='text/javascript'>
      var graphs = {{ b_size | safe }};
      Plotly.plot('size_chart',graphs,{});
    </script>
    <div id='count_chart' class='chart'”></div>
    <script type='text/javascript'>
      var graphs = {{ b_count | safe }};
      Plotly.plot('count_chart',graphs,{});
    </script>
  </div>
  <div class="column">
    <h3 class="ui center aligned header">
      Backup for last 24 hours
    </h3>
    <table class="ui fixed sort striped left aligned table" id="cllisttoday">
      <thead>
        <tr>
          <th class="sort-header">Client name</br> (Job name)</th>
          <th class="sort-header" width=16%>Backup date</th>
          <th class="sort-header" width=14%>Files count</th>
          <th class="sort-header" width=14%>Backup</br> size</th>
          <th class="sort-header" width=16%>Status</th>
        </tr>
      </thead>
      <tbody>
    {% for backup in last_backup %}
        <tr>
          <td class="left aligned">{{ backup['name'] }} (<a href="/reports/client/{{ backup['bak_name'] }}/{{ backup['date'] }}">{{ backup['bak_name'] }}</a>)</td>
          <td>{{ backup['date'] }}</td>
          <td>{{ backup['files'] }}</td>
          <td>{{ backup['size'] }}</td>
          <td>
            {% autoescape false %}
            {{ backup['status'] }}
            {% endautoescape %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <script>
    new Tablesort(document.getElementById('cllisttoday'));
    </script>
  </div>
</div>
</div>
{%- include 'footer.html' %}
