{%- include 'header.html' %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="column">
        <table class="ui left aligned celled table">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Job Name</th>
              <th>Job start time</th>
              <th>Job end time</th>
              <th>Job scheduled time</th>
              <th>Job duration</th>
              <th>Job start duration</th>
              <th>Files count in backup</th>
              <th>Backup size</th>
              <th>Job status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
    {%- for job in jobs %}
            <tr>
              <td class="right aligned">{{ job['cname'] }}</td>
              <td class="right aligned">{{ job['jname'] }}</td>
              <td class="right aligned">{{ job['jstart'] }}</td>
              <td class="right aligned">{{ job['jend'] }}</td>
              <td class="right aligned">{{ job['jsched'] }}</td>
              <td class="right aligned">{{ job['jdur'] }}</td>
              <td class="right aligned">{{ job['jstdur'] }}</td>
              <td class="right aligned">{{ job['jfiles'] }}</td>
              <td class="right aligned">{{ job['jbytes'] }}</td>
              <td class="right aligned">{% autoescape false %}{{ job['jstatus'] }}{% endautoescape %}</td>
              <td><a href="/reports/client/{{ job['jname'] }}/{{ job['jsched'] }}" class="ui button">Details</a></td>
            </tr>
    {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{%- include 'footer.html' %}
