{%- include 'header.html' %}
{%- include 'tables.html' %}

<div id="report-content" class="ui vertical stripe segment">
<h4 class="ui header"><i class="clock outline icon"></i> Backups running longer than 30 minutes</h4>
<div style="overflow-x:auto;">
<table class="ui compact striped celled table" id="longrun" style="width:auto;min-width:600px;">
  <thead>
    <tr>
      <th>Client</th>
      <th>Job</th>
      <th>Status</th>
      <th>Scheduled</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th class="right aligned">Files</th>
      <th class="right aligned">Size</th>
    </tr>
  </thead>
  <tbody>
  {% for job in long_job %}
    <tr>
      <td>{{ job['cname'] }}</td>
      <td><a href="/reports/client/{{ job['jname'] }}/{{ job['jsched'] }}">{{ job['jname'] }}</a></td>
      <td>{% autoescape false %}{{ job['jstatus'] }}{% endautoescape %}</td>
      <td>{{ job['jsched'] }}</td>
      <td>{{ job['jstart'] }}</td>
      <td>{{ job['jend'] }}</td>
      <td>{{ job['jduration'] }}</td>
      <td class="right aligned">{{ job['jfiles'] }}</td>
      <td class="right aligned">{{ job['jbytes'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<script>new Tablesort(document.getElementById('longrun'));</script>
</div>
{%- include 'footer.html' %}
