{%- include 'header.html' %}
{%- include 'tables.html' %}

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/tab.js"></script>
<script src="/static/sinon.js"></script>
<script type="text/javascript">// <![CDATA[
$( document ).ready(function() {

        // initialize both popups inline
        $('.menu .item').tab({ history: false });

            });
// ]]>


</script>

<div class="ui vertical footer segment">
  <h2>Volume usage report</h2>
  <div class="row">
    <div class="ui pointing secondary menu" style="overflow-y:auto;white-space:wrap;">
      {% set flag = True %}
      {% set flag_time = [] %}
      {% for vol, vol_data in vol_list.items() %}
      <a class="item{% if flag %}{% do flag_time.append(vol) %} active{% set flag = False %}{% endif %}" data-tab="{{ vol}}">{{ vol }}</a>
      {% endfor %}
    </div>
      {% for vol, vol_data in vol_list.items() %}
    <div class="ui{% if vol in flag_time %} active{% endif %} tab segment" data-tab="{{ vol }}">
      <h2>
      </h2>
      <table class="ui fixed very basic collapsing celled table"
        <tbody>
          <tr>
            <td>Pool name</td>
            <td>{{ vol }}</td>
          </tr>
          <tr>
            <td>Pool type</td>
            <td>{{ vol_data['pptype'] }}</td>
          </tr>
          <tr>
            <td>Pool retention</td>
            <td>{{ vol_data['pvolret'] }}</td>
          </tr>
          <tr>
            <td>Pool maximum volume count</td>
            <td>{{ vol_data['pmvol'] }}</td>
          </tr>
          <tr>
            <td>Pool volume count</td>
            <td>{{ vol_data['pnumvol'] }}</td>
          </tr>
          <tr>
            <td>Pool ID (in database)</td>
            <td>{{ vol_data['ppid'] }}</td>
          </tr>
        </tbody>
      </table>
      <table class="ui fixed celled striped table sort" id="oldvolumes-{{ vol }}">
        <thead>
          <tr>
            <th class="sort-header">Volume name</th>
            <th class="sort-header">Volume type</th>
            <th class="sort-header">Volume status</th>
            <th class="sort-header">Volume last write time</th>
            <th class="sort-header">Volume retention</th>
          </tr>
        </thead>
        <tbody>
        {% for media, media_data in vol_data['vols'].items() %}
          <tr{% if media_data['mvolret'] - media_data['mlastdiff'] <= 0 %} class="negative"{% endif %}>
            <td><a href="/reports/media/{{ media }}">{{ media }}</a></td>
            <td>{{ media_data['mtype'] }}</td>
            <td>{% autoescape false %}{{ media_data['mvolst'] }}{% endautoescape %}</td>
            <td>{{ media_data['mlastwr'] }}</td>
            <td>{{ media_data['mvolret'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <script>
new Tablesort(document.getElementById('oldvolumes-{{ vol }}'));
      </script>
    </div>
      {% endfor %}
  </div>
</div>
{%- include 'footer.html' %}
