{%- include 'header.html' %}

<div class="ui vertical stripe segment">
  <h2 class="ui header">Available reports</h2>
  <p>Select a report:</p>

  <div class="ui relaxed divided list">
    {% for report_item in reports_menu %}
    <div class="item">
      <i class="{{ report_item['icon'] }} icon"></i>
      <div class="content">
        <a class="header" href="{{ report_item['url'] }}">{{ report_item['name'] }}</a>
        <div class="description">{{ report_item['title'] }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{%- include 'footer.html' %}
